body {
    margin: 0;
    background: linear-gradient(to top left, #04152a, #245897);
}

header {
    background-color: #245897;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 65px;
    width: 65px;
    margin-left: 10%;
    margin-top: 2%;
}

.navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid transparent;
}

.navbar a:hover{
    color: #0b3568;
    border-bottom: #0b3568;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, #04152a, #245897);
}

.content img {
    height: 750px; /* Adjust height as needed */
    width: auto;
    border-radius: 50%;
    margin-left: 90px;
    margin-right: 50px; /* Adjust margin to create space between image and text */
    
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    margin-left: 30rem;
    color: white;
}

.content p {
    font-size: 1.5rem;
    word-spacing: 5px;
    line-height: 2.2rem;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
    margin-bottom: 100px;
    margin-right: 4rem;
    margin-left: 8rem;
    color: #ccc
}

.name {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #ccc;
    white-space: nowrap;
    left: 2.8%;
    top: -40%;
    letter-spacing: 5px;
    transform: translate(-50%) rotate(-90deg);
    /* Adjust positioning as needed */
    position: absolute;
    right: 20px
}